
#image {
  width: 100px;
  height: 100px;
}

.title {
  font-family: 'Fjalla One', sans-serif;
}
.error-message{
  font-family: 'Arvo', serif;
}

.news {
  font-family: 'Work Sans', sans-serif;
}

#paper {
  padding: 0px;
}
